*{
    margin:0px;
    padding:0px;
}
/* my header section */
.header{
    position:fixed;
 background-color: white;
    top:0px;
    width:100%;
    height:100px;
    left:0px;
    z-index: 1000;
}

ul{
    position: fixed;
    top:0;
    left:300px;
    list-style-type: none;
    overflow: hidden;
    z-index: 1000;
    

}
li{
    float:left;
}
li a:hover{
    background-color: black;
   padding: 10px 16px;
}
li a{
    display:block;
    padding:20px;
    font-weight: bolder;
    text-decoration: none;
    color:aqua;
}
/* for my body image */
.back{
    position:relative;
    top:100px;
    height:620px;

}
/* what we do */
.what{
    position: relative;
    display: flex;
    
    margin-left: 4rem;
    gap:15rem;
    height:480px;


}
p{
    font-size: 1.375rem;
}
.do{
    top:2rem;
    position: relative;
    
    text-align: center;
    
    font-size: 2.5rem;
}
.solar{
    align-self: flex-start;
   
    text-align: center;
}
.wifi{
    text-align: center;
    
}
/* our team */
.team{
    position: relative;
    height:350px;
  gap:6rem;
    background-color: silver;
}
.our{
 
 
    text-align: center;



}
.kendall{
    
    text-align: center;
}
button{
    background-color:aquamarine;
    padding: 10px;
    color:white;
    border-style: none;
}
button:hover{
    background-color:red;
}
 a{
    color:white;
    text-decoration: none;

}
.ifeanyi{
   
    text-align: center;


}
.ikenna{
    
    text-align: center;


}
.amanosi{
    
    text-align: center;


}
/* investors */
.investors{
    position: relative;
    display: flex;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
   top:14rem;
    height:60vh;
}
.invest{
    top:-9rem;
    position: absolute;
    
}
.comb{
    position:relative;
}
    
.social{
    position:relative;
}
.social2{
    position:relative;
}

.venture{
    position:relative;
}
.capital{
   position: relative;
}
.work{
   display: flex;
    height:100vh;
    flex-direction: column;
   text-align: center;
   
   

}
.frame{
   position: relative;
   left:-10rem;
  
   align-self: center;
    width:400px;
}
/* contact */
.contact{
    position:relative;
    background-color: silver;
    height:800px;
}
.cont{
    position:absolute;
     top:40px;
    left:550px;
}
.monday{
    position: absolute;
    top:90px;
    left:450px;

}
.address{
    position:absolute;
    top:450px;
    left:50px;
}
.text{
    font-size: 1.313rem;
}
.telephone{
    position: absolute;
    top:200px;
    right:100px;
}
/* footer */
footer{
    position:relative;
    display: flex;
    height:480px;
    color: white;
    background-color: black;
}
.tizeti{
    position:absolute;
    top:30px;
    left:500px;


}
.for{
    position:absolute;
    top:90px;
    left:400px;
}
.text2{
    font-size: 1.563rem;
    text-align: center;
}
.twit{
    position: absolute;
    top:200px;
    left:600px;
}
.fac{
    position: absolute;
    top:200px;
    left:650px;
}
.lin{
    position: absolute;
    top:200px;
    left:700px;
}
form{
    position: absolute;
    top:250px;
    left:420px;

}
.email{
    width:500px;
    height: 25px;
    border-style: none;
}
.subs{
    position:absolute;
    top:300px;
    left:600px;
}
.copy{
    position:absolute;
    top:420px;
    left:80px;
}
.inst{
    position:absolute;
    top:420px;
    right:100px;
}
.burger{
    display: none;
}
@media(max-width:780px){
   body{
    overflow-x: hidden;
   }
    .what{
        height:130vh;
        gap:2rem;
        
    }
    .do{
        top:0;
    }
    .team{
     
      height:110vh;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color:black;
        top: -3.5rem;
        cursor: pointer;
       
        left: 0;
        position: relative;
        width: 109vw;
        text-align: center;
      }
      li a{
        color: #fff;
      }
      li a:hover{
        color: aqua;
      }
    
      .nav-links.active {
        display: flex;
      }
      
      
      .burger {
        position: relative;
        left:80%;
        top:-3rem;
        font-size: 3rem;
        display: block;
      }
    
    .our{
        top:2rem;

    }
    .kendall h3{
        top: 10px;
        position: relative;
    }
    .investors{
        height:180vh;
        gap:2rem;
    }
    .work{
       
        height:60vh;
    }
    iframe{
        left:40%;
        position: relative;
        height:30vh;
        width:80vw;
    }
    .text{
        font-size: 0.8rem;
    }
    .cont{
        position: relative;
        left:-10rem;

    }
    .contact{
        height: 120vh;
    }
    .cont{
        position: relative;
        left:1rem;
    }
    .address{
        position: relative;
        left:1rem;
        top:5rem;
        
    }
    .monday{
        position: relative;
        top:3rem;
        left:1rem;
    }
    .telephone{
        left:1rem;
        position: relative;
        top:7rem;
    }
    .telephone h2,.address h2,.cont h1{
        font-size: 1rem;
    }
    .tizeti{
       
        left:15%;
        text-align: center;
    
    
    }
    .for{
       
        left:3.5rem;
    }
    
    .twit{
      
        left:50%;
    }
    .fac{
       
        left:40%;
    }
    .lin{
       
        left:60%;
    }
    .copy{
        left:2rem;
    }

    .text2{
        font-size: 1rem;
    }
    form{
        left:25%;
    }
    .email{
        width:50vw;
    }
    .subs{
        left:40%;
    }
    
}
@media(min-width:768px) and (max-width:1028px){
    
    body{
       overflow-x: hidden;
    }
    .team{
        height:110vh;
    }
    .venture,.capital{
        position: relative;

        top:-10rem;
    }
    .investors{
        height: 100vh;
    }
    .work{
        height: 120vh;
    }
    .address{
        left:2rem;
    }
    .telephone{
        right:2rem;
    }
    .telephone h2,.address h2,.cont h1{
        font-size: 1rem;
    }
    
    .cont,.monday{
        left:25%;
    }
    .tizeti{
       
        left:34%;
        text-align: center;
    
    
    }
    .for{
       
        left:18.5rem;
    }
    
    .twit{
      
        left:50%;
    }
    .fac{
       
        left:40%;
    }
    .lin{
       
        left:60%;
    }
    .copy{
        left:2rem;
    }

    .text2{
        font-size: 1rem;
    }
    form{
        left:25%;
    }
    .email{
        width:50vw;
    }
    .subs{
        left:40%;
    }
}
